*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("/assets/images/login_bg.jpg") no-repeat top center;
    background-size: cover;
}
.loginAndRegBox{
    height: 300px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login_title{
    height: 50px;
    background: url("/assets/images/login_title.png") no-repeat;
    background-position: center;
}
.reg_box{
    display: none;
}
.loginAndRegBox{
    padding: 0 30px;
}
.links{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}